body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
/*por etiqueta*/
h1 {
    color: red;
    font-size: 80px;    
}
/*por class*/
.texto {
    color: green;
    font-size: 50px;
}
/*por id*/
#txt {
    color: blue;
    font-size: 50px;
}
#boton{
    background-color: black;
    color: white;
}

